<ion-app>
  <ion-menu contentId="main-content" auto-hide="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/" routerDirection="root">
            Calendario
          </ion-item>
          <ion-item routerLink="/schedule-config" routerDirection="root">
            Configuración de horarios
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <div class="ion-text-center terciary">
          v{{ version }}
        </div>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>

